{{ dateFormat "Monday, 2 January 2006" .Date | .Scratch.Set "subheader" }}
<div class="col mb-3">
    <div class="card h-100">
        <div class="card-body">
            <h2 class="card-title"><a href="{{ .RelPermalink }}" target="_self">{{ .Title }}</a></h2>
            <div class="card-text">
                {{ with .Description }}
                <p>{{ . }}</p>
                {{ end}}
                {{ with .Params.summary}}
                <p class="small">{{ . }}</p>
                {{ end }}
            </div>
            {{ with .Resources.GetMatch "thumbnail" }}
            <img class="w-100" src="{{ .Permalink }}" title="{{ .Title }}" alt="{{ .Params.alt }}">
            {{ end }}
        </div>
        <div class="card-footer">
            <p>{{ .Scratch.Get "subheader" }}</p>
            {{ if .Params.tags }}
            <div class="item-tags">
                {{ partial "tags" . }}
            </div>
            {{ end}}
        </div>
    </div>
</div>